body {
  font-size: 17px;
  background: #efefef;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased; }

a {
  color: #27a3ea;
  font-weight: bold; }
  a:hover {
    text-decoration: underline; }
  a:focus, a:active {
    outline: none; }

.modal .modal-dialog {
  width: 440px; }
  .modal .modal-dialog .modal-footer {
    text-align: center;
    border: none; }

.btn-primary {
  border: none;
  border-radius: 5px;
  background: #6fae23;
  height: 48px;
  font-size: 15px;
  line-height: 46px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 20px;
  -webkit-font-smoothing: antialiased; }
  .btn-primary:hover {
    background: #61991f; }
  .btn-primary i {
    font-size: 0.9em;
    top: 1px; }

.tooltip {
  cursor: pointer; }
  .tooltip .tooltip-inner {
    padding: 8px;
    font-size: 13px; }

.thumbnail {
  border: 1px solid #cccccc;
  border-radius: 0;
  padding: 5px; }

.ashy {
  background: #efefef; }

.navbar {
  background: white;
  border: none;
  margin: 0; }
  .navbar .navbar-header {
    float: none;
    display: block; }
    .navbar .navbar-header ul.status {
      list-style-type: none;
      margin: 10px 0 0 25%;
      padding: 0;
      width: 50%;
      overflow: auto;
      background: url("../img/track.gif") 50% 15px no-repeat; }
      .navbar .navbar-header ul.status li {
        float: left;
        width: 25%;
        text-align: center;
        font-size: 13px;
        color: #999999; }
        .navbar .navbar-header ul.status li.fill {
          color: #212121; }
          .navbar .navbar-header ul.status li.fill i {
            background: #653287;
            color: white; }
        .navbar .navbar-header ul.status li.partial {
          color: #212121; }
          .navbar .navbar-header ul.status li.partial i {
            background: #dfccec;
            color: white; }
        .navbar .navbar-header ul.status li i {
          width: 30px;
          height: 30px;
          border-radius: 30px;
          background: #efefef;
          text-align: center;
          line-height: 30px;
          color: #878787;
          font-size: 14px;
          display: inline-block;
          font-style: normal;
          margin-bottom: 5px; }
  .navbar .navbar-brand {
    padding: 0 15px;
    height: 72px;
    line-height: 72px;
    font-size: 1.5em;
    color: white; }
    .navbar .navbar-brand img {
      width: 158px;
      height: 38px; }
  .navbar .navbar-nav li a {
    display: inline-block;
    line-height: 72px;
    padding: 0 15px;
    color: #27a3ea; }
    .navbar .navbar-nav li a:hover {
      text-decoration: underline; }
  .navbar .navbar-nav li.login form {
    margin-top: 20px; }
  .navbar .navbar-nav li.login .logged-in {
    font-size: 14px;
    padding-top: 24px; }
    .navbar .navbar-nav li.login .logged-in .glyphicon-user {
      font-size: 85%; }
    .navbar .navbar-nav li.login .logged-in .btn-default {
      padding: 0;
      border: none; }
      .navbar .navbar-nav li.login .logged-in .btn-default:hover {
        background: transparent; }
    .navbar .navbar-nav li.login .logged-in .dropdown-menu {
      left: auto;
      right: 0;
      z-index: 2; }
      .navbar .navbar-nav li.login .logged-in .dropdown-menu li {
        text-align: left; }
        .navbar .navbar-nav li.login .logged-in .dropdown-menu li a {
          padding: 8px 16px;
          display: block;
          line-height: 1.6; }
          .navbar .navbar-nav li.login .logged-in .dropdown-menu li a:hover {
            text-decoration: none; }

section {
  padding: 2em 0 1em; }
  section .container {
    position: relative;
    height: 100%; }
  section em {
    font-style: normal;
    color: #6fae23;
    font-weight: bold; }
  section .row.choice {
    background: url("../img/or.jpg") center center no-repeat;
    background-size: 29px 16px; }
    section .row.choice .daily .checkbox {
      margin-bottom: 10px; }
    section .row.choice select {
      clear: both; }
  section h1 {
    margin: 0 0 15px;
    color: #212121;
    font-weight: 800;
    font-size: 2.7em;
    text-align: center;
    letter-spacing: -1px; }
  section h2 {
    letter-spacing: -1px;
    text-align: center;
    color: #212121;
    font-size: 1.35em;
    margin: 0 0 30px;
    line-height: 1.5; }
  section .card {
    position: relative;
    border-radius: 2px;
    background: white;
    padding: 20px;
    position: relative;
    margin-bottom: 30px;
    border: 1px solid #dadada; }
    section .card h3 {
      margin: 0 0 20px;
      padding: 0 0 10px;
      border-bottom: 1px solid #efefef;
      font-size: 22px; }
      section .card h3 i {
        font-size: 0.8em;
        margin-right: 6px; }
      section .card h3 small {
        float: right;
        color: #212121;
        font-size: 1em; }
    section .card p {
      text-align: center;
      margin-bottom: 20px;
      font-size: 15px; }
    section .card .daily p, section .card .monthly p {
      margin-bottom: 0; }
  section .alert {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 2px;
    border: none;
    font-size: 15px;
    padding: 8px 32px; }
  section .alert-success {
    background: #eef9e1;
    color: #335110; }
  section.light {
    background: white; }
    section.light h1 {
      text-shadow: none;
      font-weight: normal;
      font-size: 1.7em;
      margin: 10px 0 30px; }
    section.light ul {
      margin: 20px 0 0 0; }
      section.light ul li {
        font-size: 19px;
        margin-bottom: 15px;
        white-space: nowrap; }

section.nonmobile {
  font-size: 15px; }
  section.nonmobile h1 {
    font-size: 36px; }
  section.nonmobile .inner {
    padding: 0 15px; }
  section.nonmobile h2 {
    letter-spacing: 0;
    font-weight: bold;
    margin-bottom: 15px; }
  section.nonmobile select {
    margin-bottom: 10px;
    width: 75%;
    display: inline-block; }
  section.nonmobile .daily .checkbox, section.nonmobile .monthly .checkbox {
    margin-bottom: 10px; }
  section.nonmobile .checkbox {
    margin: 8px 0 0 0;
    font-size: 17px;
    display: inline-block; }
  section.nonmobile .pricepoint {
    margin-top: 10px;
    font-size: 15px; }
  section.nonmobile .clear {
    display: block;
    margin-bottom: 20px; }
  section.nonmobile .border-right {
    border-right: 1px solid #efefef; }
  section.nonmobile .offset-left {
    margin-left: -60px; }
  section.nonmobile .weekly span {
    position: absolute;
    left: -8px;
    top: 5px;
    color: #999999; }
  section.nonmobile .weekly em {
    color: #6fae23;
    font-style: normal;
    font-weight: bold; }
  section.nonmobile .checkout {
    padding-top: 20px;
    font-weight: bold; }
    section.nonmobile .checkout #total {
      margin-bottom: 10px; }
    section.nonmobile .checkout .btn-primary {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px; }

form .form-control[disabled], .form-horizontal .form-control[disabled] {
  color: #cccccc; }
form .success, .form-horizontal .success {
  border: 1px solid #6fae23; }
form legend, .form-horizontal legend {
  text-align: center;
  border: none;
  margin: 30px 0;
  font-size: 16px; }
form ul.card_logos, .form-horizontal ul.card_logos {
  position: absolute;
  right: 5px;
  top: 33px; }
form label, .form-horizontal label {
  font-weight: normal;
  text-align: left;
  display: block; }
form .form-group, .form-horizontal .form-group {
  position: relative; }
form label.error, .form-horizontal label.error {
  color: red;
  font-weight: bold;
  font-size: 12px; }
form .duration h2, .form-horizontal .duration h2 {
  margin-bottom: 0 !important; }
form .checkbox, .form-horizontal .checkbox {
  margin-bottom: 15px; }
  form .checkbox label.error, .form-horizontal .checkbox label.error {
    padding-left: 0; }
form .btn-primary, .form-horizontal .btn-primary {
  margin-bottom: 10px;
  width: 200px; }
form .disclaimer, .form-horizontal .disclaimer {
  font-size: 13px; }

.text-left {
  text-align: left !important; }

#portal h1 {
  margin-bottom: 40px; }
#portal .card {
  height: 310px;
  margin-bottom: 100px; }
  #portal .card .btn-primary {
    margin-right: 10px;
    padding-left: 60px;
    padding-right: 60px; }

.steps {
  padding: 1em 0;
  text-align: center; }
  .steps h2 {
    font-size: 16px;
    margin-bottom: 60px;
    margin: 0;
    padding: 0;
    letter-spacing: 0; }

.create {
  text-align: center;
  min-height: 440px; }
  .create h1 {
    font-size: 36px; }
  .create h2 {
    font-size: 18px;
    margin-bottom: 60px; }
  .create form {
    display: inline-block;
    width: 360px; }
  .create .text-left {
    text-align: left; }

.payment {
  text-align: center; }
  .payment h1 {
    font-size: 36px; }
  .payment form {
    margin-top: 10px;
    display: inline-block;
    width: 360px; }
  .payment h3 {
    margin: 10px 0 20px; }
  .payment .redeem-voucher {
    display: inline-block;
    margin-top: 30px;
    font-weight: normal; }

.nonmobile-confirmation form {
  width: 75%;
  display: inline-block; }
  .nonmobile-confirmation form .email {
    margin-bottom: 0; }
    .nonmobile-confirmation form .email small a {
      font-size: 13px;
      font-weight: normal; }

.modal#terms .modal-content .modal-body h2 {
  padding-bottom: 6px;
  font-size: 22px;
  border-bottom: 1px dotted #efefef; }
.modal#terms .modal-content .modal-body p {
  font-size: 14px;
  line-height: 1.5; }

footer {
  background: #efefef;
  padding: 1.5em 0;
  color: #999999;
  font-size: 14px; }

@media screen and (max-width: 1199px) {
  .navbar .navbar-header ul.status {
    background-size: 328px 2px; }

  section .card h3 {
    font-size: 18px; } }
@media screen and (max-width: 991px) {
  .navbar .navbar-header ul.status {
    background-size: 246px 2px;
    margin-left: 20px;
    display: inline-block; }
    .navbar .navbar-header ul.status li {
      font-size: 12px; }

  section .card h3 {
    font-size: 16px; }
  section.light ul li {
    font-size: 17px; } }
@media screen and (max-width: 767px) {
  body {
    padding: 0; }
    body h2 small {
      font-size: 85%;
      margin-left: 10px; }

  .navbar {
    position: relative;
    margin: 0; }
    .navbar .navbar-header {
      text-align: center; }
      .navbar .navbar-header .navbar-brand {
        display: inline-block;
        width: 100%;
        height: 60px; }
      .navbar .navbar-header .navbar-nav {
        float: none !important;
        clear: both;
        display: block; }
        .navbar .navbar-header .navbar-nav li {
          padding: 10px 0;
          line-height: 1em;
          font-size: 15px; }
          .navbar .navbar-header .navbar-nav li a {
            line-height: 1em;
            padding: 0;
            font-size: 15px; }

  section .card h3 em {
    font-size: 11px;
    color: #666666;
    font-weight: normal;
    display: inline !important;
    text-transform: uppercase; }

  .hero {
    padding: 20px 0; }
    .hero h1 {
      font-size: 20px;
      letter-spacing: 0; }
    .hero h2 {
      font-size: 16px;
      line-height: 1.4;
      letter-spacing: 0; }
    .hero .card {
      margin-bottom: 10px; }

  section.light ul li {
    font-size: 15px;
    white-space: normal; }

  footer {
    font-size: 12px; }

  .navbar .navbar-header .navbar-brand {
    float: none; }
  .navbar .navbar-header ul.status {
    margin-bottom: 20px; }
  .navbar .navbar-header ul.mobile-status a {
    cursor: default; }

  .navbar ul#menu-top-nav {
    margin: 0; }
    .navbar ul#menu-top-nav li {
      padding-top: 0; }
  .navbar .navbar-header {
    text-align: center; }
    .navbar .navbar-header .menubar {
      background: url("../img/menubar-bg.gif") 50% 50% no-repeat;
      background-size: cover;
      height: 24px; }
      .navbar .navbar-header .menubar.last {
        background: #333333; }
    .navbar .navbar-header ul.mobile-status {
      list-style: none;
      overflow: hidden;
      width: auto;
      margin: 0;
      padding: 0;
      display: inline-block !important; }
    .navbar .navbar-header ul.mobile-status li {
      float: left;
      white-space: nowrap; }
      .navbar .navbar-header ul.mobile-status li.step-1 a {
        padding-left: 15px; }
      .navbar .navbar-header ul.mobile-status li.step-4 a {
        padding-right: 25px; }
        .navbar .navbar-header ul.mobile-status li.step-4 a:after {
          border: none; }
      .navbar .navbar-header ul.mobile-status li.fill a {
        background: #333333; }
        .navbar .navbar-header ul.mobile-status li.fill a:after {
          border-left-color: #333333; }
    .navbar .navbar-header ul.mobile-status li a {
      color: white;
      text-decoration: none;
      padding: 3px 0 3px 56px;
      background: #999999;
      position: relative;
      display: block;
      float: left;
      font-size: 13px;
      font-weight: normal; }
    .navbar .navbar-header ul.mobile-status li a:after {
      content: " ";
      display: block;
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
      border-left: 30px solid #999999;
      position: absolute;
      top: 50%;
      margin-top: -50px;
      left: 100%;
      z-index: 2; }
    .navbar .navbar-header ul.mobile-status li a:before {
      content: " ";
      display: block;
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
      border-left: 30px solid white;
      position: absolute;
      top: 50%;
      margin-top: -50px;
      margin-left: 1px;
      left: 100%;
      z-index: 1; }
    .navbar .navbar-header .navbar-brand {
      height: 42px;
      line-height: 42px;
      margin-bottom: 5px; }
      .navbar .navbar-header .navbar-brand img {
        width: 120px;
        height: auto; }

  .modal .modal-dialog {
    width: auto; }
    .modal .modal-dialog .modal-footer {
      text-align: center; }

  section.total {
    text-align: center;
    padding: 10px 0; }

  section.customize {
    background: white;
    padding: 0; }
    section.customize .row {
      padding: 8px 0; }
    section.customize h2 {
      font-size: 16px;
      letter-spacing: 0;
      margin-bottom: 10px;
      font-weight: bold;
      text-align: left; }
    section.customize hr {
      margin: 10px 0; }
    section.customize .choice .inner {
      margin-bottom: 0; }
      section.customize .choice .inner .checkbox {
        margin-bottom: 0; }
    section.customize .choice .weekly, section.customize .choice .yearly {
      text-align: center; }
    section.customize .duration, section.customize .devices, section.customize .bandwidth {
      text-align: center; }
    section.customize .duration span {
      position: absolute;
      left: -6px;
      top: 5px;
      font-size: 14px;
      color: #777777; }
    section.customize .duration small {
      margin-left: -20px; }
    section.customize .duration em {
      font-size: 13px;
      font-weight: bold;
      color: #466e16; }
    section.customize .duration select {
      margin-bottom: 15px; }
    section.customize .duration p {
      margin: 0;
      font-size: 14px; }
    section.customize .duration {
      padding-bottom: 0;
      border-bottom: 1px dotted #aaaaaa; }
    section.customize .devices {
      border-bottom: 1px dotted #aaaaaa; }
    section.customize .bandwidth {
      background: white; }

  form {
    display: block;
    width: auto; }
    form legend {
      margin: 15px 0;
      text-align: center;
      line-height: 1.5; }
    form .btn-primary {
      width: 100%; }
    form .choice {
      background: none !important; }
    form .form-control[disabled] {
      color: #cccccc; }
    form .daily label, form .weekly label, form .monthly label, form .yearly label {
      display: block !important;
      padding: 0 5px;
      white-space: nowrap; }
      form .daily label input, form .weekly label input, form .monthly label input, form .yearly label input {
        margin: 0 5px 15px 0; }
    form .weekly label input {
      margin-bottom: 20px; }
    form .or {
      text-transform: uppercase;
      font-weight: bold;
      color: #cccccc;
      font-size: 18px !important; }
    form .expiry {
      margin-bottom: 5px; }
      form .expiry .row {
        padding: 0 !important; }
      form .expiry .expirydatemonth {
        margin-bottom: 10px; }
    form .disclaimer {
      white-space: normal; }
    form .security i {
      position: absolute;
      left: 160px;
      top: 36px; }
    form .securitycode-mobile {
      margin-bottom: 10px; }
    form .mobile-redeem-voucher {
      font-weight: normal;
      font-size: 14px; }
    form label.error {
      padding: 4px 0;
      position: relative;
      top: auto;
      bottom: auto;
      left: auto;
      right: auto;
      background: none;
      color: red;
      text-align: left; }
      form label.error:after, form label.error:before {
        display: none; }
    form h4.modal-title {
      font-size: 17px; }
    form .expirydateyear {
      margin-bottom: 15px; }
    form .redeem-voucher-mobile {
      display: inline-block;
      margin-top: 30px;
      font-weight: normal; }

  .mobile-confirmation {
    padding: 0; }
    .mobile-confirmation form {
      margin-top: 0; }
      .mobile-confirmation form .email {
        margin-bottom: 0; }
        .mobile-confirmation form .email small a {
          font-size: 12px;
          font-weight: normal; } }
