body {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased; }

a {
  color: #27a3ea;
  font-weight: bold; }
  a:hover {
    text-decoration: underline; }

.btn-primary {
  border: none;
  border-radius: 5px;
  background: #6fae23;
  height: 48px;
  font-size: 15px;
  line-height: 46px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 20px; }
  .btn-primary:hover {
    background: #61991f; }
  .btn-primary i {
    font-size: 0.9em;
    top: 1px; }

.thumbnail {
  border: 1px solid #cccccc;
  border-radius: 0;
  padding: 5px; }

.ashy {
  background: #efefef; }

.navbar {
  background: white;
  border: none;
  margin: 0; }
  .navbar .navbar-header {
    float: none;
    display: block; }
  .navbar .navbar-brand {
    padding: 0 15px;
    height: 72px;
    line-height: 72px;
    font-size: 1.5em;
    color: white; }
    .navbar .navbar-brand img {
      width: 158px;
      height: 38px; }
  .navbar .navbar-nav li a {
    display: inline-block;
    line-height: 72px;
    padding: 0 15px;
    color: #27a3ea; }
    .navbar .navbar-nav li a:hover {
      text-decoration: underline; }

section {
  padding: 2em 0 1em; }
  section .container {
    position: relative;
    height: 100%; }
  section h1 {
    margin: 0 0 15px;
    color: #212121;
    font-weight: 800;
    font-size: 2.7em;
    text-align: center;
    letter-spacing: -1px; }
  section h2 {
    letter-spacing: -1px;
    text-align: center;
    color: #212121;
    font-size: 1.35em;
    margin: 0 0 30px;
    line-height: 1.5; }
  section .card {
    border-radius: 2px;
    background: white;
    padding: 20px;
    position: relative;
    margin-bottom: 30px;
    border: 1px solid #dadada; }
    section .card h3 {
      margin: 0 0 20px;
      padding: 0 0 10px;
      border-bottom: 1px solid #efefef;
      font-size: 22px; }
      section .card h3 small {
        float: right;
        color: #212121;
        font-size: 1em; }
    section .card p {
      text-align: center;
      margin-bottom: 20px;
      font-size: 15px; }
  section.light {
    background: white; }
    section.light h1 {
      text-shadow: none;
      font-weight: normal;
      font-size: 1.7em;
      margin: 10px 0 30px; }
    section.light ul {
      margin: 20px 0 0 0; }
      section.light ul li {
        font-size: 19px;
        margin-bottom: 15px;
        white-space: nowrap; }

footer {
  background: #efefef;
  padding: 1.5em 0;
  color: #999999;
  font-size: 14px; }

form legend, .form-horizontal legend {
  text-align: center;
  border: none;
  margin-bottom: 30px; }
form label, .form-horizontal label {
  font-weight: normal;
  text-align: left;
  display: block; }
form .checkbox, .form-horizontal .checkbox {
  margin-bottom: 15px; }
form .btn-primary, .form-horizontal .btn-primary {
  margin-bottom: 10px;
  width: 200px; }
form .disclaimer, .form-horizontal .disclaimer {
  font-size: 13px;
  white-space: nowrap; }

.text-left {
  text-align: left !important; }

#portal h1 {
  margin-bottom: 40px; }
#portal .card {
  height: 310px;
  margin-bottom: 100px; }
  #portal .card .btn-primary {
    margin-right: 10px;
    padding-left: 60px;
    padding-right: 60px; }

.steps {
  padding: 2em 0;
  text-align: center; }
  .steps h2 {
    font-size: 18px;
    margin-bottom: 60px;
    margin: 0;
    padding: 0; }

#create {
  text-align: center;
  min-height: 440px; }
  #create h2 {
    font-size: 18px;
    margin-bottom: 60px; }
  #create h3 {
    font-size: 20px;
    margin-bottom: 40px; }
  #create form {
    display: inline-block;
    width: 460px; }
  #create .text-left {
    text-align: left; }

#payment {
  text-align: center; }
  #payment form {
    margin-top: 30px;
    display: inline-block;
    width: 360px; }
  #payment h3 {
    margin-top: 0; }

#daily {
  min-height: 540px; }
  #daily h1 {
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0;
    margin-bottom: 30px; }
  #daily .btn-primary {
    margin-top: 30px; }
  #daily form {
    display: inline-block; }

@media screen and (max-width: 1199px) {
  section .card h3 {
    font-size: 18px; } }
@media screen and (max-width: 992px) {
  section .card h3 {
    font-size: 18px; }
  section.light ul li {
    font-size: 17px; } }
@media screen and (max-width: 767px) {
  body {
    padding: 0; }

  .navbar {
    position: relative;
    margin: 0; }
    .navbar .navbar-header {
      text-align: center; }
      .navbar .navbar-header .navbar-brand {
        display: inline-block;
        width: 100%;
        height: 60px; }
      .navbar .navbar-header .navbar-nav {
        float: none !important;
        clear: both;
        display: block; }
        .navbar .navbar-header .navbar-nav li {
          padding: 10px 0;
          line-height: 1em;
          font-size: 15px; }
          .navbar .navbar-header .navbar-nav li a {
            line-height: 1em;
            padding: 0;
            font-size: 15px; }

  #hero {
    padding: 20px 0; }
    #hero h1 {
      font-size: 20px;
      letter-spacing: 0; }
    #hero h2 {
      font-size: 16px;
      line-height: 1.4;
      letter-spacing: 0; }
    #hero .card {
      margin-bottom: 10px; }

  section.light ul li {
    font-size: 15px;
    white-space: normal; }

  footer {
    font-size: 12px; } }
