body {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased; }

a {
  color: #27a3ea;
  font-weight: bold; }
  a:hover {
    text-decoration: underline; }
  a:focus, a:active {
    outline: none; }

.modal .modal-dialog {
  width: 440px; }
  .modal .modal-dialog .modal-footer {
    text-align: center;
    border: none; }

.btn-primary {
  border: none;
  border-radius: 5px;
  background: #6fae23;
  height: 48px;
  font-size: 15px;
  line-height: 46px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 20px; }
  .btn-primary:hover {
    background: #61991f; }
  .btn-primary i {
    font-size: 0.9em;
    top: 1px; }

.thumbnail {
  border: 1px solid #cccccc;
  border-radius: 0;
  padding: 5px; }

.ashy {
  background: #efefef; }

header {
  overflow-x: hidden; }

.navbar {
  background: white;
  border: none;
  margin: 0; }
  .navbar .navbar-header {
    float: none;
    display: block; }
    .navbar .navbar-header ul.status {
      list-style-type: none;
      margin: 10px 0 0 25%;
      padding: 0;
      width: 50%;
      overflow: auto;
      background: url("../img/track.gif") 50% 15px no-repeat; }
      .navbar .navbar-header ul.status li {
        float: left;
        width: 25%;
        text-align: center;
        font-size: 13px;
        color: #999999; }
        .navbar .navbar-header ul.status li.fill {
          color: #212121; }
          .navbar .navbar-header ul.status li.fill i {
            background: #653287;
            color: white; }
        .navbar .navbar-header ul.status li i {
          width: 30px;
          height: 30px;
          border-radius: 30px;
          background: #efefef;
          text-align: center;
          line-height: 30px;
          color: #878787;
          font-size: 14px;
          display: inline-block;
          font-style: normal;
          margin-bottom: 5px; }
  .navbar .navbar-brand {
    padding: 0 15px;
    height: 72px;
    line-height: 72px;
    font-size: 1.5em;
    color: white; }
    .navbar .navbar-brand img {
      width: 158px;
      height: 38px; }
  .navbar .navbar-nav li a {
    display: inline-block;
    line-height: 72px;
    padding: 0 15px;
    color: #27a3ea; }
    .navbar .navbar-nav li a:hover {
      text-decoration: underline; }

section {
  padding: 2em 0 1em; }
  section .container {
    position: relative;
    height: 100%; }
  section h1 {
    margin: 0 0 15px;
    color: #212121;
    font-weight: 800;
    font-size: 2.7em;
    text-align: center;
    letter-spacing: -1px; }
  section h2 {
    letter-spacing: -1px;
    text-align: center;
    color: #212121;
    font-size: 1.35em;
    margin: 0 0 30px;
    line-height: 1.5; }
  section .card {
    border-radius: 2px;
    background: white;
    padding: 20px;
    position: relative;
    margin-bottom: 30px;
    border: 1px solid #dadada; }
    section .card h3 {
      margin: 0 0 20px;
      padding: 0 0 10px;
      border-bottom: 1px solid #efefef;
      font-size: 22px; }
      section .card h3 small {
        float: right;
        color: #212121;
        font-size: 1em; }
    section .card p {
      text-align: center;
      margin-bottom: 20px;
      font-size: 15px; }
  section .alert {
    border-radius: 0 0 8px 8px;
    border: none;
    font-size: 15px;
    padding: 8px 32px;
    background: #eef9e1;
    color: #335110; }
  section.light {
    background: white; }
    section.light h1 {
      text-shadow: none;
      font-weight: normal;
      font-size: 1.7em;
      margin: 10px 0 30px; }
    section.light ul {
      margin: 20px 0 0 0; }
      section.light ul li {
        font-size: 19px;
        margin-bottom: 15px;
        white-space: nowrap; }

footer {
  background: #efefef;
  padding: 1.5em 0;
  color: #999999;
  font-size: 14px; }

form legend, .form-horizontal legend {
  text-align: center;
  border: none;
  margin-bottom: 30px; }
form label, .form-horizontal label {
  font-weight: normal;
  text-align: left;
  display: block; }
form .form-group, .form-horizontal .form-group {
  position: relative; }
form label.error, .form-horizontal label.error {
  position: absolute;
  top: -10px;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 14px;
  white-space: nowrap; }
  form label.error:after, .form-horizontal label.error:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid;
    border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
    display: block;
    top: 30px;
    right: 15px; }
form .checkbox, .form-horizontal .checkbox {
  margin-bottom: 15px; }
form .btn-primary, .form-horizontal .btn-primary {
  margin-bottom: 10px;
  width: 200px; }
form .disclaimer, .form-horizontal .disclaimer {
  font-size: 13px;
  white-space: nowrap; }

.text-left {
  text-align: left !important; }

#portal h1 {
  margin-bottom: 40px; }
#portal .card {
  height: 310px;
  margin-bottom: 100px; }
  #portal .card .btn-primary {
    margin-right: 10px;
    padding-left: 60px;
    padding-right: 60px; }

.steps {
  padding: 1em 0;
  text-align: center; }
  .steps h2 {
    font-size: 16px;
    margin-bottom: 60px;
    margin: 0;
    padding: 0;
    letter-spacing: 0; }

#create {
  padding-top: 0;
  text-align: center;
  min-height: 440px; }
  #create h2 {
    font-size: 18px;
    margin-bottom: 60px; }
  #create h3 {
    font-size: 20px;
    margin-bottom: 40px; }
  #create form {
    display: inline-block;
    width: 460px; }
  #create .text-left {
    text-align: left; }

#payment {
  padding-top: 0;
  text-align: center; }
  #payment form {
    margin-top: 10px;
    display: inline-block;
    width: 360px; }
  #payment h3 {
    margin: 10px 0 20px; }

#daily, #monthly {
  min-height: 540px; }
  #daily h1, #monthly h1 {
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0;
    margin-bottom: 30px; }
  #daily .btn-primary, #monthly .btn-primary {
    margin-top: 30px; }
  #daily .row .card, #monthly .row .card {
    margin-top: 20px;
    padding: 20px; }
    #daily .row .card em, #monthly .row .card em {
      text-align: center;
      display: block;
      font-weight: bold;
      font-size: 28px;
      font-style: normal;
      margin-bottom: 10px; }
    #daily .row .card input[type="checkbox"], #monthly .row .card input[type="checkbox"] {
      display: none; }
    #daily .row .card .btn-primary, #monthly .row .card .btn-primary {
      clear: both; }
  #daily .row .checkbox, #monthly .row .checkbox {
    margin: 0 !important; }

@media screen and (max-width: 1199px) {
  section .card h3 {
    font-size: 18px; } }
@media screen and (max-width: 992px) {
  section .card h3 {
    font-size: 18px; }
  section.light ul li {
    font-size: 17px; } }
@media screen and (max-width: 767px) {
  body {
    padding: 0; }

  .navbar {
    position: relative;
    margin: 0; }
    .navbar .navbar-header {
      text-align: center; }
      .navbar .navbar-header .navbar-brand {
        display: inline-block;
        width: 100%;
        height: 60px; }
      .navbar .navbar-header .navbar-nav {
        float: none !important;
        clear: both;
        display: block; }
        .navbar .navbar-header .navbar-nav li {
          padding: 10px 0;
          line-height: 1em;
          font-size: 15px; }
          .navbar .navbar-header .navbar-nav li a {
            line-height: 1em;
            padding: 0;
            font-size: 15px; }

  #hero {
    padding: 20px 0; }
    #hero h1 {
      font-size: 20px;
      letter-spacing: 0; }
    #hero h2 {
      font-size: 16px;
      line-height: 1.4;
      letter-spacing: 0; }
    #hero .card {
      margin-bottom: 10px; }

  section.light ul li {
    font-size: 15px;
    white-space: normal; }

  footer {
    font-size: 12px; } }
@media screen and (max-width: 1200px) {
  .navbar .navbar-header ul.status {
    background-size: 328px 2px; } }
@media screen and (max-width: 991px) {
  .navbar .navbar-header ul.status {
    background-size: 246px 2px; } }
@media screen and (max-width: 767px) {
  .navbar .navbar-header .navbar-brand {
    float: none; }
  .navbar .navbar-header ul.status {
    margin-bottom: 20px; } }
@media screen and (max-width: 640px) {
  body {
    padding-top: 115px; }

  .navbar {
    height: 71px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10; }
    .navbar .navbar-header {
      text-align: center; }
      .navbar .navbar-header .menubar {
        background: url("../img/menubar-bg.gif") 50% 50% no-repeat;
        background-size: cover; }
      .navbar .navbar-header ul.mobile-status {
        list-style: none;
        overflow: hidden;
        width: auto;
        margin: 0;
        padding: 0;
        display: inline-block !important; }
      .navbar .navbar-header ul.mobile-status li {
        float: left;
        white-space: nowrap; }
        .navbar .navbar-header ul.mobile-status li.step-1 a {
          padding-left: 15px; }
        .navbar .navbar-header ul.mobile-status li.step-4 a {
          padding-right: 25px; }
          .navbar .navbar-header ul.mobile-status li.step-4 a:after {
            border: none; }
        .navbar .navbar-header ul.mobile-status li.fill a {
          background: #333333; }
          .navbar .navbar-header ul.mobile-status li.fill a:after {
            border-left-color: #333333; }
      .navbar .navbar-header ul.mobile-status li a {
        color: white;
        text-decoration: none;
        padding: 3px 0 3px 56px;
        background: #999999;
        position: relative;
        display: block;
        float: left;
        font-size: 13px;
        font-weight: normal; }
      .navbar .navbar-header ul.mobile-status li a:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 30px solid #999999;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 100%;
        z-index: 2; }
      .navbar .navbar-header ul.mobile-status li a:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 30px solid white;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        margin-left: 1px;
        left: 100%;
        z-index: 1; }
      .navbar .navbar-header .navbar-brand {
        height: 42px;
        line-height: 42px;
        margin-bottom: 5px; }
        .navbar .navbar-header .navbar-brand img {
          width: 120px;
          height: auto; }

  .modal .modal-dialog {
    width: auto; }
    .modal .modal-dialog .modal-footer {
      text-align: center; }

  section#total {
    text-align: center;
    padding: 10px 0;
    position: fixed;
    z-index: 10;
    top: 71px;
    left: 0;
    right: 0; }

  section#customizer {
    padding: 0; }
    section#customizer .row {
      padding: 10px 0; }
    section#customizer h2 {
      font-size: 16px;
      letter-spacing: 0;
      margin-bottom: 10px;
      font-weight: bold; }
    section#customizer hr {
      margin: 10px 0; }
    section#customizer .duration, section#customizer .devices, section#customizer .bandwidth {
      text-align: center; }
    section#customizer .duration span {
      position: absolute;
      left: -6px;
      top: 5px;
      font-size: 14px;
      color: #777777; }
    section#customizer .duration small {
      margin-left: -20px; }
    section#customizer .duration em {
      font-size: 13px;
      font-weight: bold;
      color: #466e16; }
    section#customizer .duration .checkbox {
      margin: 5px; }
    section#customizer .duration .col-xs-6.active {
      color: #66afe9; }
      section#customizer .duration .col-xs-6.active small {
        color: #212121; }
    section#customizer .duration {
      border-bottom: 1px dotted #d9d9d9; }
    section#customizer .devices {
      border-bottom: 1px dotted #d9d9d9; }
    section#customizer .bandwidth {
      background: white; }

  form {
    display: block;
    width: auto; }
    form .active .form-control {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
    form .btn-primary {
      width: 100%; }
    form .expiry #expirydatemonth {
      margin-bottom: 10px; }
    form .disclaimer {
      white-space: normal; }
    form .security i {
      position: absolute;
      left: 110px;
      top: 36px; }
    form label.error {
      padding: 4px 0;
      position: relative;
      top: auto;
      bottom: auto;
      left: auto;
      right: auto;
      background: none;
      color: red;
      text-align: left; }
      form label.error:after, form label.error:before {
        display: none; }
    form h4.modal-title {
      font-size: 17px; }
    form .btn-primary {
      -webkit-font-smoothing: antialiased; } }
