$navbarHeight: 72px
$lightGrey: #efefef
$ash: #efefef
$blue: #27a3ea
$black: #212121
$green: #6fae23

body
	font-size: 17px
	// padding-top: $navbarHeight
	font-family: 'Open Sans', sans-serif
	-webkit-font-smoothing: antialiased

a 
	color: $blue
	font-weight: bold
	&:hover
		text-decoration: underline

.btn-primary
	border: none
	border-radius: 5px
	background: $green
	height: 48px
	font-size: 15px
	line-height: 46px
	font-weight: bold
	text-transform: uppercase
	padding: 0 20px
	&:hover
		background: darken($green, 5%)
	i
		font-size: .9em
		top: 1px

.thumbnail
	border: 1px solid #ccc
	border-radius: 0
	padding: 5px

.ashy
	background: $ash

.navbar
	background: white
	border: none
	margin: 0
	.navbar-header
		float: none
		display: block
	.navbar-brand
		padding: 0 15px
		height: $navbarHeight
		line-height: $navbarHeight
		font-size: 1.5em
		color: white
		img
			width: 158px
			height: 38px
	.navbar-nav
		li
			a
				display: inline-block
				line-height: $navbarHeight
				padding: 0 15px
				color: $blue
				&:hover
					text-decoration: underline

section
	padding: 2em 0 1em
	.container
		position: relative
		height: 100%
	// .capsule
	// 	display: block
	// 	position: absolute
	// 	top: 50%
	// 	left: 0
	// 	right: 0
	// 	margin-top: -186px
	h1
		margin: 0 0 15px
		color: $black
		font-weight: 800
		font-size: 2.7em
		text-align: center
		letter-spacing: -1px
	h2
		letter-spacing: -1px
		text-align: center
		color: $black
		font-size: 1.35em
		margin: 0 0 30px
		line-height: 1.5
	.card
		border-radius: 2px
		background: white
		padding: 20px
		position: relative
		margin-bottom: 30px
		border: 1px solid #dadada
		h3
			margin: 0 0 20px
			padding: 0 0 10px
			border-bottom: 1px solid #efefef
			font-size: 22px
			small
				float: right
				color: $black
				font-size: 1em
		p
			text-align: center
			margin-bottom: 20px
			font-size: 15px
	&.light
		background: white
		h1
			text-shadow: none
			font-weight: normal
			font-size: 1.7em
			margin: 10px 0 30px
		ul
			margin: 20px 0 0 0
			li
				font-size: 19px
				margin-bottom: 15px
				white-space: nowrap

footer
	background: $ash
	padding: 1.5em 0
	color: #999
	font-size: 14px

form, .form-horizontal
	legend
		text-align: center
		border: none
		margin-bottom: 30px
	label
		font-weight: normal
		text-align: left
		display: block
	.checkbox
		margin-bottom: 15px
	.btn-primary
		margin-bottom: 10px
		width: 200px
	.disclaimer
		font-size: 13px
		white-space: nowrap

.text-left
	text-align: left!important

#portal
	h1
		margin-bottom: 40px
	.card
		height: 310px
		margin-bottom: 100px
		.btn-primary
			margin-right: 10px
			padding-left: 60px
			padding-right: 60px

.steps
	padding: 2em 0
	text-align: center
	h2
		font-size: 18px
		margin-bottom: 60px
		margin: 0
		padding: 0

#create
	text-align: center
	min-height: 440px
	h2
		font-size: 18px
		margin-bottom: 60px
	h3
		font-size: 20px
		margin-bottom: 40px
	form
		display: inline-block
		width: 460px
	.text-left
		text-align: left


#payment
	text-align: center
	form
		margin-top: 10px
		display: inline-block
		width: 360px
	h3
		margin-top: 0

#daily
	min-height: 540px
	h1
		font-weight: normal
		font-size: 24px	
		letter-spacing: 0
		margin-bottom: 30px
	.btn-primary
		margin-top: 30px
	form
		display: inline-block

// Responsive
@media screen and (max-width: 1199px)
	section
		.card
			h3
				font-size: 18px

@media screen and (max-width: 992px)
	section
		.card
			h3
				font-size: 18px
		&.light
			ul
				li
					font-size: 17px

@media screen and (max-width: 767px)
	body
		padding: 0
	.navbar
		position: relative
		margin: 0
		.navbar-header
			text-align: center
			.navbar-brand
				display: inline-block
				width: 100%
				height: 60px
			.navbar-nav
				float: none!important
				clear: both
				display: block
				li
					padding: 10px 0
					line-height: 1em
					font-size: 15px
					a
						line-height: 1em
						padding: 0
						font-size: 15px
	#hero
		padding: 20px 0
		h1
			font-size: 20px
			letter-spacing: 0
		h2
			font-size: 16px
			line-height: 1.4
			letter-spacing: 0
		.card
			margin-bottom: 10px
	section
		&.light
			ul
				li
					font-size: 15px
					white-space: normal
	footer
		font-size: 12px